<div class="Question">
  <h1><%=@question.body%></h1>
  <p>Posted by: <%=@question.user.name%></p>
  <p>Posted on: <%=std_date_format(@question.created_at) %></p>
  <p>upvotes: <%= @question.up_voted %> downvotes: <%= @question.down_voted%></p>

  <% if current_user == @question.user %>
    <div id="edit-question">
      <%=link_to "Edit question", edit_question_path %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <div class="font-small">
    <%= link_to "Answer this question", new_question_answer_path(params[:id]) %>
  </div>

  <div class="font-small">
    <%= link_to "New Comment", new_question_comment_path(params[:id]) %>
  </div>
<% end %>

<% if !@question.comments.empty? %>
  <div class="comments">
    <h3> Comments: </h3>
    <%= render @question.comments %>
  </div>
<% end %>

<% if !@question.answers.empty? %>
  <div class="answers">
    <h3>Answers: </h3>
    <%= render @question.answers %>
  </div>
<% end %>
