<li>
    <div class="answers">
      <% if answer.question.best_answer_id == answer.id %>
        <span class="chosen-answer"> &#x2606; </span>
      <% end %>

    <span>
      <%= link_to "<span> &uarr; </span>".html_safe, new_answer_vote_path(answer.id, vote_type: 1)%> <%= answer.vote_score %>
        <%= link_to "<span> &darr; </span>".html_safe, new_answer_vote_path(answer.id, vote_type: -1) %>
    </span>

      <%=answer.body%>
      <div class="show-username">
        - <%=answer.user.name%>, <%=std_date_format(answer.created_at)%>
      </div>

      <div class="font-small">
      <%= link_to "Add a comment", new_answer_comment_path(answer) %>
      </div>
    </div>

    <div class="best-answer-form">
      <% if answer.question.user == current_user && answer.question.best_answer_id != answer.id%>
        <%= form_for answer.question do |f| %>
        <fieldset>
          <%= f.hidden_field :best_answer_id, :value => answer.id%>
            <%= submit_tag 'Favorite Solution' %>
        </fieldset>
        <% end %>
      <% end %>
    </div>

  </div>
</li>

<% if !answer.comments.empty? %>
  <div class="comments">
    <h3> Comments: </h3>
    <%= render answer.comments %>
  </div>
<% end %>
